$teal: #26bfd4;
$dark-teal: #207b88;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$blue: #008dff;
$warning: #922a2a;
$grey: #8a8a8a;
$soft-pink: rgb(238, 187, 195);
$pink: #F4B4C4;
$dark-pink: #cc9b9a;
$soft-beige: #F5EBE0;
$yellowcito: rgb(233, 233, 92);